:php
    if (post_password_required()) {
        return;
    }
%section#comments.comments
    :php
        if (have_comments()) {
    %h2
        :php
            printf(_nx('One response to &ldquo;%2$s&rdquo;', '%1$s responses to &ldquo;%2$s&rdquo;', get_comments_number(), 'comments title', 'roots'), number_format_i18n(get_comments_number()), '<span>' . get_the_title() . '</span>'); 
    %ol.comment-list
        :php
            wp_list_comments(array('style' => 'ol', 'short_ping' => true));
    :php
        if (get_comment_pages_count() > 1 && get_option('page_comments')) {
    %nav
        %ul.pager
            :php
                if (get_previous_comments_link()) {
            %li.previous
                :php
                    previous_comments_link(__('&amp;larr; Older comments', 'roots')); 
            :php
                }
                if (get_next_comments_link()) {
            %li.next
                :php
                    next_comments_link(__('Newer comments &amp;rarr;', 'roots')); 
            :php
                }
    :php
        }
    :php
        }
        if (!comments_open() && get_comments_number() != '0' && post_type_supports(get_post_type(), 'comments')) {
    .alert.alert-warning
        :php
            _e('Comments are closed.', 'roots');
    :php
        }
        comment_form(); 