:php
	while (have_posts()) {
		the_post();
<article <?php post_class(); ?>>
%header
	%h1.entry-title= the_title()
	:php
		get_template_part('templates/entry-meta');
%div.entry-content= the_content()
%footer= wp_link_pages(array('before' => '<nav class="page-nav"><p>' . __('Pages:', 'roots'), 'after' => '</p></nav>'))
:php
	comments_template('/templates/comments.php');
</article>
:php
	}
