<article <?php post_class(); ?>>
%header
	%h2(class="entry-title")
		%a(href="<?php the_permalink(); ?>")= the_title()
	:php
		get_template_part('templates/entry-meta');
%div(class="entry-summary")
	:php
		the_excerpt();
</article>