%time.published(datetime="<?php echo get_the_time('c'); ?>")= get_the_date()
%p.byline.author.vcard
	:php
		echo __('By', 'roots');
	%a.fn(href="<?php echo get_author_posts_url(get_the_author_meta('ID')); ?>" rel="author")= get_the_author()

