%header.banner.navbar.navbar-default.navbar-static-top.container(role="banner")
    %div.container
        %div.navbar-header
            %button.navbar-toggle.collapsed(data-target=".navbar-collapse" data-toggle="collapse" type="button")
                %span.sr-only
                    Toggle navigation
                - for ($i = 0; $i <= 2; $i++)
                    %span.icon-bar
        
            %a.navbar-brand(href="<?php echo home_url(); ?>/")
                <?php bloginfo('name'); ?>
        
    %nav.collapse.navbar-collapse(role="navigation")
        :php
            if (has_nav_menu('primary_navigation')) {
                wp_nav_menu(array('theme_location' => 'primary_navigation', 'walker' => new Roots_Nav_Walker(), 'menu_class' => 'nav navbar-nav'));
            }