!!! 5
<html class="no-js" <?php language_attributes(); ?>>
%head
	%meta(charset="utf-8")
	%meta(content="IE=edge" http-equiv="X-UA-Compatible")
	%meta(content="width=device-width, initial-scale=1" name="viewport")
	%link(href="<?php esc_url(get_feed_link()); ?>" rel="alternate"  title="<? get_bloginfo('name'); ?> Feed" type="application/rss+xml")
	- wp_head()